.header{
    margin: 0 auto;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: relative;
	z-index: 1000;
    padding: 1rem;
}

canvas {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
    z-index: 12;
}

.picture {
    position: absolute;
    width: calc(50% - 10rem);
    height: auto;
    top: 99%;
    right: 12rem;
    transform: translateX(-100%);
    display: grid;
    grid-template-columns: 1fr;
    align-items: end;
    justify-content: center;
   
}
.pictures {
   
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    bottom: 5rem;
    width: 100px;
    gap:1.5rem;
  
    
}
.title-header {

    position: absolute;
    width: calc(50% - 12rem);
    height: auto;
    top: 50%;
    right: 12rem;
    transform: translateY(-50%);
   
}


.title-header h1 {
    color: rgb(55, 55, 55);
    font-family: 'Sofia Pro', sans-serif;
    font-weight: 900;
    font-size: 8rem;
    line-height: 0.95;
    letter-spacing: -0.075rem;
    max-width: 14ch;
    margin-bottom: 25px;
}

.title-header h2 p {
    color: rgb(55, 55, 55);
    font-family: Circular, sans-serif;
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 1.5;
    max-width: 35ch;
}

.title-header h2 strong {
    color: rgb(247, 78, 161);
    font-weight: 300;
}

